@charset "utf-8";

body {
    margin: 0;
    font-family: sans-serif;
}
.container {
    /*各パートがウィンドウの端につかないようにするには，ここにpaddingを設定する*/
    /*ページの横幅の上限を設定．ページ全体をウィンドウの中央に配置．*/
    margin: 0 auto 0 auto;
    padding: 0 20px 0 20px;
    max-width: 1000px;
}

/*各パートにpadding，背景，テキスト色などを指定する*/
/*ナビゲーションとメインの間にスペースを設けるには，メインの上下にマージンをつける*/

.header-inner {
    padding: 10px 10px 0 10px;
    background: #bad7f5;
}
.nav-inner {
    padding: 10px 10px 0 10px;
    color: #fff;
    background: #0086f9;
}
.maincontent-inner {
    padding: 20px 10px 20px 10px;
    margin: 20px 0 20px 0;
    background: #fffde3;
    /*通常のWebデザインでは高さは指定しない*/
    height: 400px;
}
.side-bar-inner {
    padding: 20px 10px 20px 10px;
    background: #c0f5b9;
}
.footer-inner {
    padding: 20px 16px 10px 16px;
    background: #bad7f5;
}

/*
.wrapper {
    overflow: hidden;
    width: 100%;
}
.home img {
    float: left;
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    margin: 20px 0 20px 20px;
}
.new-information img {
    float: left;
    width: 500px;
    height: 200px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    margin: 20px auto 20px auto;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
footer{
    position: relative;
    bottom: 5%;
    width: 100%;
    text-align: center;
    color: gray;
}
*/