@charset "utf-8";

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    background: linear-gradient(#514a9d, #24c6dc);
}
.container {
    /*各パートがウィンドウの端につかないようにするには，ここにpaddingを設定する*/
    /*ページの横幅の上限を設定．ページ全体をウィンドウの中央に配置．*/
    margin: 0 auto 0 auto;
    padding: 0 80px 0 80px;
    max-width: 1000px;
}
section .container {
    display: flex;
    flex-flow: column;
}

/*各パートにpadding，背景，テキスト色などを指定する*/
/*ナビゲーションとメインの間にスペースを設けるには，メインの上下にマージンをつける*/

.header-inner {
    padding: 20px 10px 0 10px;
    display: flex;
    flex-flow: row;
    /*background: #bad7f5;*/
}
.header-inner img {
    max-width: 500;
    margin: 0 auto 0 auto;
}
.nav-inner {
    padding: 10px 10px 0 10px;
    color: #fff;
    /*background: #0086f9;*/
}
.maincontent-inner {
    padding: 20px 10px 20px 10px;
    margin: 0;
    /*background: #fffde3;*/
    /*通常のWebデザインでは高さは指定しない*/
    height: 800px;
}
.sidebar-inner {
    padding: 20px 10px 20px 10px;
    /*background: #c0f5b9;*/
}
.sidebar-inner ul {
    line-height: 1.7;
}
.footer-inner {
    padding: 20px 16px 10px 16px;
    color: gray;
    text-align: center;
    /*background: #bad7f5;*/
}
.footer-inner img {
    max-width: 200;
    margin: 0 auto 0 auto;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 768px) {
    section .container {
        flex-flow: row;
    }
    main {
        flex: 1 1 auto;
        order: 2;
    }
    .sidebar-inner {
        flex: 0 0 200px;
        order: 1;
    }
}