@charset "utf-8";

.maincontent-inner {
    width: 80%;
    margin: 20px auto 20px auto;
    background: white;
}

.maincontent-inner a {
    text-decoration: none;
}

.maincontent-inner img {
    margin: 0 auto 0 auto;
}

.maincontent-inner h3 {
    margin: 0.5em 0 0.5em 5px;
}

.maincontent-inner p {
    margin: 0;
    padding: 0 0 10px 5px;
    font-size: 12px;
    color: #666666;
}

@media only screen and (min-width: 768px) {
    
}