@charset "utf-8";

.maincontent-inner {
    font-family: 'Sawarabi Mincho';
    margin: 0 20px;
}

.maincontent-inner h1 {
    font-size: 36px;
}

.maincontent-inner p {
    margin: 0;
    padding: 0 0 10px 5px;
    font-size: 18px;
    color: #666666;
}

@media only screen and (min-width: 768px) {
    .maincontent-inner h1 {
        font-size: 42px;
    }
    .maincontent-inner p {
        font-size: 24px;
    }
}